.forgot-password-page-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.upper-container{
    width: 50%;
    height: 50%;
    background: #072F5F;
    display: flex;
    flex-direction: column;
    padding: 2% 3%;
    color: #fff;
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 10px;
}
.upper-container h2, .upper-container h5 , .upper-container h4{
    padding: 2% 0;
}

.upper-container form {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30%
    ;
}

.upper-container form  input{
    width: 90%;
    height: 30%;
}
.upper-container form input::placeholder{
    font-size: 100%;
}

.upper-container form button{
    width: 35%;
    height: 30%;
    background-color: #0075FF;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}
.link-to-main{
    width: 20%;
    height: 17%;
}
.navigate-button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background: #0075FF;
    cursor: pointer;
    color: #fff;
    font-weight: 900;
    align-self: stretch;
}
.displayed-content{
    width: 65%;
    height: 30%;
    border-left: 9px solid #1ae342;
    background: #32c34f79;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0% 2%;
}

@media (max-width: 600px){
    .upper-container{
        width: 90%;
    }
    .upper-container >form{
        width: 100%;
    }
    .upper-container >form > input{
        width: 100%;
    }

}