*{
    margin: 0;
    padding: 0;
}

.data-policy-page-container{
     /* width: 100%; */
    height: 100%; 
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 4%;
    gap: 5%;
    /* align-items: center; */
    /* justify-content: center; */
}
.policy{
    width: 100%;
}
.data-policies{
    width: 95%;
    height: 70%;
    border: 1px solid #494a4aad;
    border-radius: 10px;
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    padding: 1% 2% ;
    gap: 2%;
}