.light{
    --primary-color: #FFFFFF;
    --bg-color: #001833;
    --theme-color: #0075FF;
    --dark-blue-color: #001833;
    --hero-container:#EEF3F9;
    --font-color: #000;
    --single-task-color: #e5ecf5;
}

.dark{
  --primary-color: #001833;
  --bg-color: #112C4C;
  --theme-color: #0F1E30;
  --dark-blue-color: #0F1E30;
  --hero-container:#0F1E30;
  --font-color: #F0EAEA;
  --single-task-color: #001F43;

}
.container-main{
    width: 100%;
    height: 150vh;   
    display: flex;
    position: relative;
}
.sidebar-left{
    width: 20vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-header{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    color: #fff;
    font-family: Smooch;

}
.sidebar-header Link h4{
    text-decoration: none;
    color: #EEF3F9;
    display: flex;
}
.sidebar-header img{
    width: 40%;
}
.button-container{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    font-size: 18px;
    color: #fff;


}


.side-upper{
    width: 100%;
    height: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 9%;
    gap: 9%;
}

.side-button{
    width: 70%;
    height: 100%;
    padding-left: 3%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2%;
    background: transparent;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    text-decoration: none;
    color: #fff;
}
.side-middle{
    width: 70%;
    height: 45%;
    display: flex;
    justify-content: left;
    align-items: end;
}
.side-bottom{
    width: 70%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20%;
}
.side-button-middle{
    width: 70%;
    height: 15%;
    background: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
    margin-bottom: 10%;
    background-color: #0075FF;
    font-weight: 800;
    border: none;
    color: #fff;
}
.side-button-middle img{
    width: 14%;
    margin-right: 5%;
    margin-left: 5%;
}

.side-button-bottom{
    width: 90%;
    height: 100%;
    padding: 4% 0;
    text-align: left;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 3%;
    font-weight: 800;
    color: #fff;

}
.side-button-bottom img{
    width: 10%;
}

.active{
    background: #0075FF;
    border: none;
}

.container-right{
    width: 78vw;
    height: 97%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--hero-container);
    border-radius: 20px;
    margin-top: 1%;
}

.hero-container{
    width: 67%;
    height: 100%;
}

.right-side-container{
    width: 30%;
    height: 97%;
    /* border: 1px solid orange; */
    border-radius: 10px;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.upper-card{
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    margin-top: 3%;
}
.upper-card img{
    width: 40%;
}
.upper-card h6{
    color: #5d5b5b;
    font-size: 16px;
}
.upper-card h3{
    font-size: 23px;
}
.calendar-container{
    width: 90% !important;
    height: 40%;
    margin-top: 25%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.calender-main{
    width: 30% !important;
}
.recent-tasks{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2%;
    overflow-y: auto;
}
.recent-tasks-header{
    margin-bottom: 3%;
    font-size: 19px;
    font-family: Poppins;
    color: #0F1E30;
}
.single-recent-task{
    width: 90%;
    height: 17%;
    display: flex;
    align-items: center;
    gap: 10%;
    padding: 0% 2%;
    border: 1px solid #C6C6C6;
    border-radius: 10px;
}
.link{
    width: 75% !important;
    height: 20%;
    border-radius: 10px;
    display:flex;
    justify-content:center;
    text-decoration:none;
}
.link-bottom{
    width: 75% !important;
    height: 30%;
    border-radius: 10px;
    display:flex;
    justify-content:center;
    text-decoration:none;
}

.naigationBar{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: -1.7%;
    gap: 4%;
}

.searchContainer{
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    position: relative;
    /* background: var(--primary-color); */

}
.searchplacehd{
    width: 100%;
    height: 80%;
    background: var(--primary-color);
    padding-left: 5%;
    color: black;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
.searchplacehd::placeholder{
    color: rgb(80, 77, 77);
}

.searchContainer a{
    width: 3%;
    position: absolute;
    bottom: 60%;
    left: 1%;

    z-index: 1;
}
.searchContainer a img{
    width: 100%;
    position: absolute;
    /* left: 9%; */
}
.notificationsTop, .settingsTop{
    width: 8%;
    height: 50%;
    display: flex;
    align-items: center;
    background: var(--primary-color);
    justify-content: center;
    border-radius: 10px;
}
.renderedpageContainer{
    width:100%;
    height: 86%;
}

.modelContainer,.overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: #ccc9c932;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}
body.active-model {
    overflow-y: hidden;
}

.addTaskmodelContent{
    width: 40%;
    height: 70%;
    gap: 2%;
    position: absolute;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* font-family: sans-serif; */
    font-weight:normal;
    z-index: 99;
}

.viewTasksmodelContent{
    width: 60%;
    height: 93%;
    gap: 2%;
    position: absolute;
    background: var(--theme-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight:normal;
    padding-top: 2%;
    /* overflow: auto; */

}
.alltaskscontainer{
    width: 80%;
    height: 90%;
    background: var(--primary-color);
}
.add-task-model-header{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.add-task-model-header button{
    width: 10%;
    height: 80%;
    background: transparent;
    border: none;
    /* margin-right: 10%; */
}
.add-task-model-header button img{
    cursor: pointer;
}
.addTaskFormContainer{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addTaskForm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.description{
    width: 100%;
    height: 30%;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.chartContainer{
    width: 100%;
    /* background: var(--primary-color); */
    background: transparent;
}
.left-chart{
    width: 100%;
    background: var(--primary-color);
}
.chart-container{
    background: var(--primary-color);
}
.right-chart{
    background: var(--primary-color);
}
.doughnut-container{
    background: var(--primary-color);
}
.description input{
    width: 90%;
    height: 70%;
    border: 2px solid #777777b4;
    color: rgba(0, 0, 0, 0.379);
    font-size: 17px;
}
.description input::placeholder{
    color: black;
    font-size: 17px;
}

.category{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    /* font-family: sans-serif; */
    gap: 10%;
}
.category select{
    width: 58%;
    height: 40%;
    outline: 1px solid #777777b4;
    border-radius: 5px;
}
.deadline{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.deadline input{
    width: 88%;
    height: 50%;
    border: 2px solid #777777b4;
    color: #000;
    padding-right: 2%;
}
.addTaskSubmit{
    width: 27%;
    height: 10%;
    background: #0075FF;
    border: none;
    border-radius: 8px;
    
    font-weight: 700;
    font-size: 17px;
    margin-top: 1%;
}



@media (max-width: 900px){
    .hero-container{
        width: 90%;
    }
}


/* -----------------------------------STYLING A CALENDER-------------------------------------------------------------------------- */

.MuiDateCalendar-root {
    width: 97% !important;
    height: 90% !important;
    max-height: 100% !important;
    margin: 0 !important;
    border-radius: 10px;
    justify-content: center !important;
    padding: 0 1%;
}
.MuiPickersCalendarHeader-root{
    color: var(--font-color);
}
.MuiDateCalendar-root > div:nth-child(2) {
    height: 100%;
}

.MuiDateCalendar-root > div:nth-child(2) > div:nth-child(1){
    height: 100% !important;
    width: 100% !important;
}
/* remove > div:nth-child(1) before grid */
.MuiDateCalendar-root> div:nth-child(2) > div[role="grid"] {
    height: 100% !important;
}

.MuiDateCalendar-root > div:nth-child(2) >  div[role="grid"] > div[role="row"] {
    justify-content: space-between;
}


.MuiDateCalendar-root > div:nth-child(2) >  div[role="grid"] > div[role="row"] > span { 
    font-weight: bold !important;
}

.MuiDateCalendar-root > div:nth-child(2) >  div[role="grid"] > div[role="row"] > span:nth-child(6) , span:nth-child(7){ 
    color: #17A1FA;
    font-weight: bold !important;
}


.MuiDateCalendar-root > div:nth-child(2) >  div[role="grid"] > div:nth-child(2) {
    height: 89%;
}

.MuiDateCalendar-root > div:nth-child(2) >  div[role="grid"] > div:nth-child(2) > div[role="rowgroup"] {
    justify-content: space-between;
    height: 100%;
    gap: 5%;
}

.MuiDateCalendar-root > div:nth-child(2) >   div[role="grid"] > div:nth-child(2) > div[role="rowgroup"] > div[role="row"] {
    justify-content: space-between;
}

.MuiDateCalendar-root > div:nth-child(2) >  div[role="grid"] > div:nth-child(2) > div[role="rowgroup"] > div[role="row"] > button {
    /* justify-content: space-between; */
    /* border: 1px solid; */
    margin: 0.4% 0;
}

.MuiDateCalendar-root > div:nth-child(2) >   div[role="grid"] > div:nth-child(2) > div[role="rowgroup"] > div[role="row"] > button:nth-child(6), button:nth-child(7){
    color: #17A1FA;
    font-weight: 600;
}

.MuiDateCalendar-root > div:nth-child(2)  > div[role="grid"] > div:nth-child(2) > div[role="rowgroup"] > div[role="row"] > button[aria-current="date"] {
    border: none;
    background: #0075FF;
    color: #fff;
    font-weight: 900;
}

button[aria-selected="true"]{
    background: #023c7eab !important;
}
