.notificationsContainer{
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notificationscontainer-header{
    width: 90%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.noticationscontainer-right{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 10%;
}
.noticationscontainer-right button{
    width: 100%;
    max-height: 40%;
    padding: 1%;
    border: 1px solid #2395ed;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}
.notificationsPlaceholder{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5%;
    overflow: auto;
}
.singleNotification{
    width: 88%;
    min-height: 11%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #e4ecf5;
    padding-left: 2%;
    font-family: sans-serif;
}
.singleNotification h5{
    color: #333;
    /* font-family: sans-serif; */
}
.read{
    background: transparent;
    border: 1px solid #70afdf7b;
}
